---
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template below
import Footer from "../components/Footer.astro";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template below
import Header from "../components/Header.astro";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template below
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

// biome-ignore lint/correctness/noUnusedVariables: Astro uses Props interface for type checking
interface Props {
	title: string;
}

// biome-ignore lint/correctness/noUnusedVariables: Used in HTML template below
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <Header />
    <div class="flex flex-1">
      <Sidebar />
      <main class="flex-1 p-6">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
